

body{
    /* background-color: #efeee7; */
    /* font-family: Georgia,"Times New Roman",Times,serif; */
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #777777;
    line-height: 150%;
    /* background-color: gray;  */
    background-image: url(../images/soft_wallpaper.png)
}

header{
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc; 
    /* clear: both; */
    overflow: auto;
}

h1,h3{
    font-family: Georgia,Times,"Times New Roman",serif;
}

.page-container{
    /* position: relative; */
    /* min-height: 100vh; */

  }


footer{
    position: fixed;
    width: 100%;
    background-color: #666666;
    margin: 0;
    bottom: 0;
    text-align: center;
}


h1{
}

.name{
     
     background-color: #4aaaa5; 
    color: white;
    text-align: left;
    padding: 10px;
    float: left; 
    margin-left: 15%;
    /* margin-bottom: 20%; */
    
}

.navigate{
    
    /* background-color: yellow; */
    /* position: relative; */
    float: right;
    /* margin-bottom: 10%; */
    margin-top: 30px; 
    margin-right: 15%; 
    font-size: 20px;
    
}

h2{
    font-size: 24px;
}

#headline{
    
    margin-left: 5%;
    font-size: 24px;
    color: #4aaaa5;
}

#about-me{
    /* padding-top: 20px; */
    /* float: left; */
    margin: 5%;
    line-height: 2;
}


#bio-image{
    float: left;
    margin-right: 10px;
    width: 200px;
}

.portfolio-images{
    width: 250px;
    /* margin: 5%; */
    
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.full{
    position: relative; 
    text-align: center;
    color: white;
     /* float: left;  */
     margin-right: 8%;
     margin-top: 20px;
     width: 250px;
}


.label{
    position: absolute;
    width: 100%;
    background-color: #4aaaa5; 
   color: white;
   text-align: center;
   /* padding: 8px; */
   /* float: left;  */
    bottom: 45px;
   /* margin-bottom: 20%; */
   
}



a{
    color: darkslategray;
}

.container{
    
    /* clear: both; */
    /* min-height: 100%; */
    width: 980px; 
    margin: 0 auto;
    /* margin: 40px;
    
    margin-left: 15%;
    margin-right: 15%; */
    background-color: #ffffff;
    /* overflow: auto;  */
    border: 1px solid #dddddd;


    /* background-color: gray; */
    
}

@media screen and (max-width: 980px) {

    .container{
        width: 800px;
    }
}

@media screen and (max-width: 768px) {

    .container{
        width: 600px;
    }
        
}
    
    

@media screen and (max-width: 640px) {
    .container{
        width: 500px;
    }
    header{
    position: static;
    }

    #bio-image {
        width: 100%;
    }
}



